#include ".colors/derp"

URxvt.perl-ext-common:      default,matcher,clipboard,keyboard-select
URxvt.url-launcher:         /usr/bin/firefox
URxvt.matcher.button:       1
URxvt.iso14755:             False
URxvt.keysym.M-c:           perl:clipboard:copy
URxvt.keysym.M-v:           perl:clipboard:paste
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.clipboard.copycmd:    xclip -i -selection clipboard
URxvt.clipboard.pastecmd:   xclip -o -selection clipboard
URxvt.clipboard.autocopy:   true
URxvt*scrollBar:            False
URxvt*font:                 -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
URxvt*boldFont:             -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
URxvt*externalBorder:       0
URxvt*internalBorder:       5
URxvt*borderLess:           False
Xft.antialias:  1
Xft.autohint:   0
Xft.dpi:        96
Xft.hinting:    1
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcdlight
Xft.rgba:       rgb
