[user]
	email = matjaz.finzgar@gmail.com
	name = Matjaž Finžgar
[push]
	default = simple
[alias]
	graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%x20(%ce)%n%x20%s%n"
	stat = status -sb
	last = show -1
	unstage = reset HEAD --
	cached = diff --cached
[color]
	ui = auto
