let g:mapleader = "\<Space>"

set laststatus=2
set nocp
set number
set cursorline
set encoding=utf8
set ffs=unix,dos,mac
set nocompatible
set mouse=a
set title
filetype off
syntax on
set foldmethod=indent
set foldlevel=99

hi User1 ctermfg=white ctermbg=black guifg=white guibg=black
hi LineNr ctermfg=darkgray guifg=darkgray
hi CursorLine cterm=NONE ctermbg=black guibg=black
hi ALEErrorSign ctermfg=red ctermbg=NONE guifg=red guibg=NONE
hi ALEWarningSign ctermfg=yellow ctermbg=NONE guifg=yellow guibg=NONE

hi User1 ctermfg=white ctermbg=black guifg=white guibg=black

set statusline=
set statusline +=%1*\ %n\ %*            "buffer number
set statusline +=%1*%{&ff}%*            "file format
set statusline +=%1*%y%*                "file type
set statusline +=%1*\ %<%F%*            "full path
set statusline +=%1*%m%*                "modified flag
set statusline +=%1*%=%5l%*             "current line
set statusline +=%1*/%L%*               "total lines
set statusline +=%1*%4v\ %*             "virtual column number
set statusline +=%1*0x%04B\ %*          "character under cursor

nnoremap <leader>p :Files<cr>
