[Unit]
Description=Pulse Audio Server
Requires=dbus.socket

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/pulseaudio --start
ExecStop=/usr/bin/pulseaudio --kill

[Install]
WantedBy=mfin.target
