color_dead_bg = 1
color_dead_fg = 0
color_active_bg = 3
color_active_fg = 0
color_finished_bg = 2
color_finished_fg = 0

directory = ~/dl
session = ~/.rtorrent.session
port_range = 49164-49164
encryption = allow_incoming,try_outgoing,enable_retry
dht = auto
dht_port = 6881
peer_exchange = yes

system.method.set_key = event.download.finished,notify_me,"execute=~/.bin/notify_torrent.sh,$d.get_name="